<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="tests">
    <test name="GoogleSearchFirst" thread-count="5" parallel="methods" >
        <classes>
            <class name="com.travelers.tests.GoogleSearchFirst"/>
        </classes>
    </test>
    <test name="GoogleSearchSecond" thread-count="5" parallel="methods" >
        <classes>
            <class name="com.travelers.tests.GoogleSearchSecond"/>
        </classes>
    </test>
</suite>